@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family:bebas neue,sans-serif;
  background: whitesmoke;
}

h1 {
  text-align: center;
  letter-spacing: 5px;
  margin: 20px 0 10px 0;
  font-size: 2.5rem;
}

.page-header {
  position:sticky;
  top:0;
  background-color: #fff
}
.loader {
  position:fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8)
}

.loader img {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/* .image-container{
 margin: 10px 30%; 
} */

.image-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 10px;
}
.image-container a {
 width: 370px;
 height: 370px;
 margin-top: 10px;
 
}
.image-container a img{
 width: inherit;
 height: inherit;
 
}

@media screen  and ( max-width:770px){
  .image-container {
    margin: 10px;
    justify-content: center;
  }
  .image-container a {
 width: 100%;
 height: 100%;

 
}
.image-container a img{
 width: inherit;
 height: inherit;
 
}
}
